*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.header {
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo img {
    height: 100%;
}

.nav ul {
    display: flex;
}

.nav ul li{
    list-style-type: none;
}

.menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    margin-right: 10px;
    height: 100%;
    border-radius: 5px;
    font-weight: 600;
}

.menu:hover {
    background-color: darkred;
    border-bottom: 5px solid rgb(54, 0, 0);
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.hero{
    background: url(https://source.unsplash.com/1920x2400?pizza);
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 15px green, 0px 0px 25px red;
}

