body{
    /* Colocando cor de fundo do body (corpo da pg) */
    background-color: aquamarine;
}

h1 {    
    text-align: center; /*Centralizando texto tags h1*/
}

p {
    color: blue; /* Alterando a cor do texto */
}

img {
    width: 200px; /* Alterando a largura da imagem  */
    height: 100px; /* Alterando a altura da imagem */
}

h2 {
    font-size: 20px; /* Alterando o tamanho da fonte */
    background-color: lightblue;
}

h3{
    text-align: right; /*Alinhado a direita*/
    font-size: 18px;
    color: aqua;
    background-color: black;
}

/* seletor de class, pode ter vários, começa com . */ 
.p-vermelho {
    color: red;
}
.p-amarelo {
    color: yellow;
}
#p-verde{ /*Seletor de id ÚNICO começa com #  */
    color: green;
}

.font-courier-new {
    /* Alterando a fonte de um texto */
    font-family: 'Courier New', Courier, monospace;
}

.font-google{ /* Fonte do google */
    font-family: 'Tilt Prism', cursive;
}

@font-face {
    font-family: "Fonte";
    src: url(../font.ttf); 
}

.font-baixada{
    font-family: Fonte;
}

.sombreado {
    /* Text-shadow colocando sombreado no texto
    eixo x, eixo y, esfumaçado, cor */
    text-shadow: 2px 2px 1px #a1a1a1;
}

.sombreado2 {
    color: white;
    /*É possível mesclar e colocar vários sombreados no texto*/
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.opacidade {
    background-color: green;
    opacity: 0.3;
}

.opacidade-rgba{
    background-color: rgba(0, 128, 0, 0.3);
}

.fundo-imagem{
    height: 400px;
    /* Fundo do elemento com imagem */
    background-image: url(../img/sesi.jpg);
    /* Repetição da imagem de fundo quando é menor que o elemento */
    background-repeat: no-repeat;
    /* Esta propriedade "estica" a imagem pra todo espaço */
    background-size: cover;    
}

.fundo-tela-dinamico {
  height: 1000px;
  background: url(https://source.unsplash.com/1920x2400?hdr,tech,ocean);
  background-size: cover;
}

.borda1 {
    border: 1px solid black;
}

.borda2 {
    border-bottom: 2px solid red;
}

.borda3 {
    border: 1px solid green;
    border-radius: 5px;
}

.borda4 {
    border-left: 4px solid blue;
    background-color: lightblue;
}

.borda5 {
    border-top: 1px dotted blue;
}

.borda6 {
    border-top: 4px solid yellow;
    border-right: 4px dotted blue;
    border-bottom: 4px dashed red;
    border-left: 4px double green;
}

.borda7 {
    border-radius: 15px;
}

.borda8 {
    width: 200px;
    height: 100px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: blueviolet;
}

.borda9 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blueviolet;
}
.borda10 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: linear-gradient(-45deg, #00f, #ff0000) border-box;
    border-radius: 50em;
    border: 7px solid transparent;
}

.div1{
    border: 1px solid black;
    background-color: lightcyan;
}
.div2{
    border: 1px solid black;
    background-color: lightcoral;
    text-align: right;
}
.div-margin{
    background-color: darkblue;
    color: white;
    margin: 10px; /* Define o espaçamento externo do elemento */
}
.div-centralizada{
    background-color: darkmagenta;
    width: 150px;   /* Definindo a largura da DIV */
    margin: 0 auto; /* Centralizando um elemento de bloco */
}
.div-padding{
    background-color: green;
    padding: 20px;
}
.div-completa{
    background-color: cadetblue;
    margin: 6px 8px 10px 12px;
    border: 4px solid black;
    padding: 7px 9px 11px 13px;
}

.botao {
    background-color: magenta;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid rgb(78, 0, 78);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}
.botao:hover {
    background-color: darkmagenta;
}
.row {
    display: flex;
}

.img {
    background-image: url(../img/doce.jpg);
    height: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card {
    margin: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

.botao-card {
    text-decoration: none;
    background-color: rgb(65, 18, 0);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.nome-produto {
    margin: 0;
    color: white;
    background-color: rgba(20, 20, 20, 0.5);
    width: 100%;
    padding: 5px 0px;
}

.descricao {
    color: rgb(37, 37, 37);
}