/* FLEX 1 - ROW EM LINHA */
.flex-1 {
    background-color: lightgrey;
    /* Alterando o display da div para o tipo flex para ficar 
    mais fácil estilizar as posições dos elementos filhos
    - por padrão o alinhamento é em linha ROW */
    display: flex;
}
/* FLEX - 2 COLUMN EM COLUNA */
.flex-coluna {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    /* O Flex Direction altera a disposição dos elementos para
    o tipo coluna colocando um embaixo do outro*/
    flex-direction: column;
}

/* FLEX 3 - WRAP Quebra de linha quando não cabe na tela*/
.wrap {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    /* O Flex wrap "quebra" os elementos em uma nova linha quando não cabem */
    flex-wrap: wrap;
}
img {
    width: 200px;
    margin: 10px;
}
/* FLEX 4 - Centralizado no X */
.centralizar-x {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    /* Centralizar horizontalmente */
    justify-content:center;
}
.space-around {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens com espaçamentos */
    justify-content:space-around;
}
.space-between {
    background-color: lightgray;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens com espaçamentos */
    justify-content:space-between;
}
.flex-end {
    background-color: lightgray;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens no final da div */
    justify-content:flex-end;
}

.centralizar-y {
    background-color: lightgray;
    margin-top: 20px;
    display: flex;
    height: 500px;
    justify-content:center;
    /* Alinhando os itens ao centro verticalmente */
    align-items: center;
}


